<div class="dashboard-main-wrapper">

  <!-- navbar -->
  <div class="dashboard-header">
      <nav class="navbar navbar-expand-lg bg-white fixed-top" style="padding-left: 20px;" >
          <img src="./../../assets/logo.png" alt="" srcset="" style="width: 50px; height: 5 0px;" >
          <a class="navbar-brand" href="index.html" style="color: #527DAA;">Oculus</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="btn-group">
            <button type="button" class="btn btn-outline-info" style="width: 100px; color: #527DAA;">{{ville}}</button>
            <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #527DAA;">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" *ngFor="let item of oculusListTemp" (click)="onTownChange(item.ville)">{{ item.ville }}</a>
            </div>
          </div>

          <a class="fa fa-globe" *ngIf="oculusList.length>=1" style="padding-left: 50px;">
            <span class="fa fa-comment"></span>
            <span class="num">{{ oculusList.length }}</span>
          </a>

          <div class="btn-group" style="padding-left: 50px;">
            <button type="button" class="btn btn-outline-info" style="width: 100px; color: #527DAA;">{{ incident }}</button>
            <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #527DAA;">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" *ngFor="let item of oculusListTemp" (click)="onIncidenceChange(item.incident)">{{ item.incident }}</a>
            </div>
          </div>

          <form class="">
            <input class="form-control mr-sm-2" type="search" [value]="search" placeholder="Recherchez..." aria-label="Search" style="margin-top: 0%; margin-left: 50px; height: 38px;" (keyup)="onOculusChanged($event)">
          </form>
          <!--input class="" type="text" placeholder="Recherchez avec un mot clef..." style="margin-top: 0%; margin-right: 20px;" (keyup)="onOculusChanged($event)" -->
      </nav>
  </div>

  <!-- wrapper  -->
  <div class="dashboard-wrapper">
      <div class="dashboard-ecommerce">
          <div class="container-fluid dashboard-content ">

              <!-- pageheader  -->
              <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="page-header">
                          <h2 class="pageheader-title" style="color: #FFFFFF;">Liste des incidents </h2>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-xl-10 col-lg-8 col-md-8 col-sm-12 col-12">
                      <div class="row">
                          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12" *ngFor="let oculus of oculusList" >
                              <div class="product-thumbnail">
                                  <div class="product-img-head">
                                      <div class="product-img" (click)="details(oculus)" style="cursor: pointer;" >
                                        <img src="{{ oculus.image1 }}" alt="" class="img-fluid" style="width: 400px; height: 400px;" >
                                      </div>
                                  </div>
                                  <div class="product-content">
                                      <div class="product-content-head">
                                        <h3 class="product-title">Date et heure</h3>
                                        <div class="product-price">{{ oculus.created_at }}</div>
                                      </div>
                                      <div class="product-content-head">
                                          <h3 class="product-title">Incident</h3>
                                          <div class="product-price">{{ oculus.incident }}</div>
                                      </div>
                                      <div class="product-content-head">
                                          <h3 class="product-title">Ville</h3>
                                          <div class="product-price">{{ oculus.ville }}</div>
                                      </div>
                                      <div class="product-content-head">
                                          <h3 class="product-title">Description</h3>
                                          <div class="product-price">{{ oculus.description ? oculus.description.slice(0, 20) + '...' : '' }}</div>
                                      </div>
                                      <div class="product-content-head">
                                          <h3 class="product-title">Téléphone</h3>
                                          <div class="product-price">{{ oculus.phone }}</div>
                                      </div>
                                      <div class="product-content-head" *ngFor="let imei of oculus.multiImei; let i = index" >
                                        <h3 class="product-title">{{ 'imei' + (i + 1) }}</h3>
                                        <div class="product-price">{{ imei.imei }}</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <!-- <nav aria-label="Page navigation example">
                                  <ul class="pagination">
                                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item active"><a class="page-link " href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                  </ul>
                              </nav> -->
                          </div>
                      </div>
                  </div>

                  <!-- <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="product-sidebar">
                          <div class="product-sidebar-widget">
                              <h4 class="mb-0">E-Commerce Filter</h4>
                          </div>
                          <div class="product-sidebar-widget">
                              <h4 class="product-sidebar-widget-title">Category</h4>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="cat-1">
                                  <label class="custom-control-label" for="cat-1">Categories #1</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="cat-2">
                                  <label class="custom-control-label" for="cat-2">Categories #2</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="cat-3">
                                  <label class="custom-control-label" for="cat-3">Categories #3</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="cat-4">
                                  <label class="custom-control-label" for="cat-4">Categories #4</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="cat-5">
                                  <label class="custom-control-label" for="cat-5">Categories #5</label>
                              </div>
                          </div>
                          <div class="product-sidebar-widget">
                              <h4 class="product-sidebar-widget-title">Size</h4>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="size-1">
                                  <label class="custom-control-label" for="size-1">Small</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="size-2">
                                  <label class="custom-control-label" for="size-2">Medium</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="size-3">
                                  <label class="custom-control-label" for="size-3">Large</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="size-4">
                                  <label class="custom-control-label" for="size-4">Extra Large</label>
                              </div>
                          </div>
                          <div class="product-sidebar-widget">
                              <h4 class="product-sidebar-widget-title">Brand</h4>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="brand-1">
                                  <label class="custom-control-label" for="brand-1">Brand Name #1</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="brand-2">
                                  <label class="custom-control-label" for="brand-2">Brand Name #2</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="brand-3">
                                  <label class="custom-control-label" for="brand-3">Brand Name #3</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="brand-4">
                                  <label class="custom-control-label" for="brand-4">Brand Name #4</label>
                              </div>
                          </div>
                          <div class="product-sidebar-widget">
                              <h4 class="product-sidebar-widget-title">Color</h4>
                              <div class="custom-control custom-radio custom-color-blue ">
                                  <input type="radio" id="color-1" name="customRadio" class="custom-control-input">
                                  <label class="custom-control-label" for="color-1">Blue</label>
                              </div>
                              <div class="custom-control custom-radio custom-color-red ">
                                  <input type="radio" id="color-2" name="customRadio" class="custom-control-input">
                                  <label class="custom-control-label" for="color-2">Red</label>
                              </div>
                              <div class="custom-control custom-radio custom-color-yellow ">
                                  <input type="radio" id="color-3" name="customRadio" class="custom-control-input">
                                  <label class="custom-control-label" for="color-3">Yellow</label>
                              </div>
                              <div class="custom-control custom-radio custom-color-black ">
                                  <input type="radio" id="color-4" name="customRadio" class="custom-control-input">
                                  <label class="custom-control-label" for="color-4">Black</label>
                              </div>
                          </div>
                          <div class="product-sidebar-widget">
                              <h4 class="product-sidebar-widget-title">Price</h4>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="price-1">
                                  <label class="custom-control-label" for="price-1">$$</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="price-2">
                                  <label class="custom-control-label" for="price-2">$$$</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="price-3">
                                  <label class="custom-control-label" for="price-3">$$$$</label>
                              </div>
                          </div>
                          <div class="product-sidebar-widget">
                              <a href="#" class="btn btn-outline-light">Reset Filter</a>
                          </div>
                      </div>
                  </div> -->
              </div>
          </div>

          <!-- footer -->
          <div class="footer">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="color: #FFFFFF; font-style: italic;">
              Copyright © 2020. Tous les droits sont reservés.
             </div>
          </div>

      </div>

  </div>
</div>
